
@{
    ViewBag.Title = "LogIn";
}



<h2>LogIn</h2>

@using (Html.BeginForm("LogIn", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <div>
            <p>帳號 : @Html.TextBox("fUserId")</p>
            <p>密碼 : @Html.Password("fPassword")</p>
            <div class="col-md-offset-2">
                <p><input type="submit" value="登入" align="right" /></p>
                @ViewBag.Message
            </div>
        </div>
    </div>

}

